hr {
    margin: 0;
}

.footer {
    padding: 1.5em 1em;
    background-color: var(--white);
}

.footer-list {
    display: none;
}

@media screen and (min-width:1024px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 4em 2em;
    }

    .footer__text {
        font-size: 24px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
    }
    
    .footer__list--title {
        font-size: 14px;
        color: var(--gray);
        text-transform: uppercase;
        align-items: flex-start;
        margin-bottom: 1em;
    }

    .footer-list__item {
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .footer-list__item:hover > .footer-list__link {
        color: var(--blue);
        font-weight: 600;
    }

    .footer-list__link {
        text-decoration: none;
        color: var(--dark-gray);
        margin-left: 0.5em;
        transition: 200ms;
    }
}

@media screen and (min-width:1728px) {
    .footer {
        padding: 3em 15em;
    }

    .footer-list {
        border-left: 2px solid var(--gray);
        padding-left: 1em;
    }

}